services:
  - type: web
    name: carelinkai
    env: docker
    autoDeploy: true
    plan: starter
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NEXTAUTH_URL
        value: https://carelinkai.onrender.com
      - key: NEXTAUTH_SECRET
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: carelinkai-db
          property: connectionString

databases:
  - name: carelinkai-db
    plan: basic-1gb
